@font-face{font-family:'HelveticaNeueCyr-Black';
        src:local('../fonts/HelveticaNeueCyr-Black.otf'),
        url('https://nomail.com.ua/files/woff/75fd0b9090247882c700e34fa8ed9c3e.woff') 
        format('woff');}#helveticaneuecyrblack{font-family:'HelveticaNeueCyr-Black';}.font75fd0b9090247882c700e34fa8ed9c3e{font-family:'font75fd0b9090247882c700e34fa8ed9c3e';
    }